<%= render "home/home" %>
<h2>Show User</h2>
 
<table border=1>
  <tr>
    
    <th>id</th>
    <th>name</th>     
    <th>address</th>
    <th>phone</th>
    <th>gender</th>
    <th>email</th>
  </tr>
 
<% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.name %></td>
    <td><%= user.address %></td>
    <td><%= user.phone %></td>
    <td><%= user.gender %></td>
    <td><%= user.email %></td>
<% end %>
  </tr>

</table>
