<%= render "home/home" %>
<h3>edit form</h3>

<%= form_for @project, url:{action:"update"}  do |f| %>
  <div><%= f.label :title %><br />
  <%= f.text_field :title, :value => @project.title %></div>

  <div><%= f.label :startdate %><br />
  <%= date_select("project", "start_date", :order => [:day, :month, :year], :value => @project.start_date) %></div>

  <div><%= f.label :enddate %><br />
  <%= date_select("project", "end_date", :order => [:day, :month, :year], :value => @project.end_date) %></div>

  <div><%= f.label :status %><br />
  <%= f.text_field :status, :value => @project.status %></div>

  <div><%= f.label :description %><br />
  <%= f.text_area :description, :value => @project.description, :cols => '40',:rows => '10'  %></div>

  <div><%= f.submit "update project" %></div>
 
<% end %>
