<%= render "home/home" %>

<h2>Show Project</h2>
 
<table class = "table">
  <tr>
    
    <th>id</th>
    <th>Title</th>     
    <th>description</th>
    <th>start_date</th>
    <th>end_date</th>
    <th>status</th>
    <th>edit</th>
    <th>delete</th>
    <th>task</th>
    <th>assign</th>
  </tr>
 

  <tr>
    <td><%= @project.id %></td>
    <td><%= @project.title %></td>
    <td><%= @project.description %></td>
    <td><%= @project.start_date %></td>
    <td><%= @project.end_date %></td>
    <td><%= @project.status %></td>
    <td><%= link_to 'edit project',edit_project_path(@project.id),:class => "btn "  %></td>
    <td><%= link_to 'delete project', project_path(@project.id), method: :delete ,confirm: :"are you sure" ,:class => 'btn btn-danger'%></td>
    <td><%= link_to 'create task', new_project_task_path(@project.id),:class => 'btn btn-primary' %></td>
    <td><%= link_to 'assign user',allotment_project_path(@project.id),:class => 'btn btn-primary' %></td>
  </tr>

</table>

<table class="table">
  <tr>
    <th>assigned users</th>  
  </tr>  
  <% @project.users.each do |user_detail| %>
  <tr>
    <td><%= user_detail.name %></td>
  </tr>
  <%end%>
</table>  
